<head>
    <link rel="stylesheet" href="assets/styles/main.css">
    <script src="assets/javascript/background.js"></script>
</head>


<div class="background" id="background">
    <div class="blur">
        <div class="searchBox">
            
            <input class="form-control inputbox">
            
        </div>

    </div>
</div>


