.background {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
}

.searchBox {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 50%;
    height: 25%;
    color: white;
    border-radius: 25px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: 10px 10px 10px -2px black
}

.inputbox{
    margin: 10%;
    width: 80%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none !important;
}